body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Angelo M*/
.navbar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 150px;
    background-color: rgb(249, 249, 249);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.navbar ul li {
    margin: 0;
    float: left;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px 40px;
    display: block;
    text-align: center;
    color: black;
}

.navbar a:hover {
    color: blue;
}

.navbar .menu {
    display: flex;
}

.LogIn {
    background-color: rgb(249, 249, 249);
    border: none;
    color: blue;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.logo{
    padding: 40px;
}

.navbar ul li .active{
    color: orangered;
}

.hero {

}

.content, .cards, .video {

}

.card {

}

.card img {

}

.accordion {

}

.accordion-item {

}

.accordion-header {

}

.accordion-body {

}

footer {

}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        padding: 50px 10px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }

    .accordion-header {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    .navbar .menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 5px 0;
    }
}
